In [4]:
print("hello world")

hello world

your name is,rakesh

In [5]:
x=10
y=5
print(x)

10

In [7]:
x = str(3)
y = int(3)
z =float(3)
print(z)

3.0

In [8]:
x = 5 
y = "john"
print(type(y))

<class 'str'>

In [9]:
a = 4
A = "rakesh"
print(a)

4

In [12]:
fruits = ["apple","cherry","banana"]
x,y,z =fruits 
print(y)

cherry

In [13]:
integer = 234
print("integer:", integer)

integer: 234

In [16]:
float = 34345.4
print("float:", float)

float: 34345.4

In [19]:
a = 23
b = 45
sum = a + b
subtract = a - b
print(subtract)

-22

In [20]:
x = int(2.4)
y = int (2)
z = int(2.2222)
print(z)

2

In [1]:
first_name = "Rakesh" 
last_name = "Ramesh"
full_name = first_name + " " + last_name
full_name2 =  f"{first_name} {last_name}"
print(full_name2)

Rakesh Ramesh

In [3]:
my_number=123123
my_new_number= str(my_number)
print(type(my_new_number))

<class 'str'>

In [45]:
#declare a list of channels
channels = ["facebook","google", "tiktok","snapchat","affilate"]
print(channels[1:3])

['google', 'tiktok']

In [53]:
my_tuple = ("facebook","google", "tiktok","snapchat","affilate")
print(my_tuple.index("google"))

1

In [55]:
#declare set
channels_new = {"facebook","google", "tiktok","snapchat","affilate"}
channels_new.add("twitter")
print(channels_new)

{'snapchat', 'tiktok', 'twitter', 'google', 'affilate', 'facebook'}

In [83]:
#declare dictionary
My_Address = {
    "street_name": "Lisa_fitkko_str",
    "house_no": 4,
    "pincode":10557
}

me = {
    "Name": "Rakesh",
    "From": "india",
    "State": "kerala"
}

print(me.keys())

dict_keys(['Name', 'From', 'State'])

In [98]:
Budget_a = 10000
Budget_b = 10000
Budget_c = 30000

if Budget_a > Budget_b:
       print("Budget_a is higher")
elif Budget_a == Budget_b == Budget_c:
       print("Budget_a and Budget_b and Budget_c are equal")
elif Budget_a == Budget_b:
       print("Budget_a and Budget_b are equal")
else:
       print("Budget_b is higher than Budget_a")

Budget_a and Budget_b are equal

In [99]:
#create a list 
Shopping_list = ["eggs","bread","milk"]
print(Shopping_list)

['eggs', 'bread', 'milk']

In [ ]:
#my_list = ["one", "two", "three", "four", "five"]
my_string = "hello world"
#print(my_list[0])
i = 0
while i < len(my_string):
 print(my_string[i])
 i= i + 1
#print("length", len(my_list))
print(len(my_string))
print(my_string[10])

h
e
l
l
o

w
o
r
l
d
11
d

In [113]:
cart = ["apple", "banana", "orange", "milk", "bread"]
item_position = 0

while item_position <len(cart):
    print("scanning item:", cart [item_position])
    item_position  = item_position +1

scanning item: apple
scanning item: banana
scanning item: orange
scanning item: milk
scanning item: bread

In [124]:
i = 0
while i < 10:
    print("Rakesh")
    i = i + 1

Rakesh
Rakesh
Rakesh
Rakesh
Rakesh
Rakesh
Rakesh
Rakesh
Rakesh
Rakesh

In [139]:
my_name = "rakesh"
i = 0
while i < len(my_name):
    print(my_name[i])
    i = i + 1

r
a
k
e
s
h

In [140]:
colour ="blue"
position  = 0
while position < len(colour):
    print(colour[position])
    position =position + 1

b
l
u
e

In [141]:
days = ["Monday","Tuesday","Wednesday","Thursday"]
day_no = 0
while day_no < len(days):
    print(days[day_no])
    day_no = day_no + 1

Monday
Tuesday
Wednesday
Thursday

In [143]:
numbers = ["one","two","three"]
i = 0
while i < len(numbers):
    print(numbers[i])
    i = i + 1

one
two
three

In [144]:
colour = ["pink","blue","red","purple"]
i = 0
while i < len(colour):
    print(colour[i])
    i = i + 1

pink
blue
red
purple

In [148]:
my_name = "Rakesh"
i = 0
while i < len(my_name):
    print(my_name[i])
    i = i + 1

R
a
k
e
s
h

In [151]:
days = ["Monday","Tuesday","Wednesday"]
i = 0
while i < 2:
    print("Day", i + 0,"is:",days[i])
    i = i + 1

Day 0 is: Monday
Day 1 is: Tuesday

In [165]:
def your_name(name):
    print("your name is," + name)

your_name("rakesh")

your name is,rakesh

In [171]:
def your_place(place):
    print("your place is," ,  place)

your_place("kannur")

your place is, kannur

In [175]:
def suggest_meal(time):
    meal = ""
    if time > 0 and time < 8:
        meal = "breakfast"
    elif time > 8 and time < 2:
        meal = "lunch"
    elif time > 2 and time < 6:
        meal = "snack"
    else:
        meal = "dinner"
        print(meal)

suggest_meal(10)

dinner

In [ ]:
def add_nums(num1, num2):
    result = num1 + num2
    return result
print(add_nums(30,34))

7

In [ ]:
my_list = ["apple","banana","mango"]
for name in my_list:
    print(name(lower))

apple
banana
mango

In [188]:
my_pet = {
  "name": "Wirenz",
  "animal": "cat",
  "age": 16,
  "desexed": True 
}

me = {
  "name": "Emily",
  "from": "Australia",
  "pet": my_pet
}

print(my_pet["name"])

Wirenz

In [1]:
a = [1,2,3,4,6,7,99,88,999]
max_num = 0
for i in a:
    if i > max_num:
        max_num = i
print(max_num)

999

In [ ]:
def is_item_in_list_returned(list, item):
  for value in list:
    if value == item:
      return True
  return False

fruits = ["banana", "apple", "mango", "kiwi"]
# is_item_in_list(fruits, "apple")
is_item_in_list(fruits, "blueberry")